<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var canvas = document.querySelector("#canvas");
            var context = canvas.getContext("2d");
            canvas.width = 280;
            canvas.height = 280;

            var Mouse = {
                x: 0,
                y: 0
            };
            var lastMouse = {
                x: 0,
                y: 0
            };
            context.fillStyle = "white";
            context.fillRect(0, 0, canvas.width, canvas.height);
            context.color = "black";
            context.lineWidth = 20;
            context.lineJoin = context.lineCap = 'round';

            debug();

            canvas.addEventListener("mousemove", function (e) {
                lastMouse.x = Mouse.x;
                lastMouse.y = Mouse.y;

                Mouse.x = e.pageX - this.offsetLeft;
                Mouse.y = e.pageY - this.offsetTop;
            }, false);

            canvas.addEventListener("mousedown", function (e) {
                canvas.addEventListener("mousemove", onPaint, false);
            }, false);

            canvas.addEventListener("mouseup", function () {
                canvas.removeEventListener("mousemove", onPaint, false);
            }, false);

            var onPaint = function () {
                context.lineWidth = context.lineWidth;
                context.lineJoin = "round";
                context.lineCap = "round";
                context.strokeStyle = context.color;

                context.beginPath();
                context.moveTo(lastMouse.x, lastMouse.y);
                context.lineTo(Mouse.x, Mouse.y);
                context.closePath();
                context.stroke();
            };

            function debug() {
                $("#clearButton").on("click", function () {
                    context.clearRect(0, 0, 280, 280);
                    context.fillStyle = "white";
                    context.fillRect(0, 0, canvas.width, canvas.height);
                    $('#result').text("Output:");
                });
            }
        });
      
                            
    </script>
    <script type="text/javascript">
        function handleImage(){  
                $('#result').text("Output: Predicting...");    
                var canvas = document.querySelector("#canvas");                  
                var imgURL = canvas.toDataURL();   
                var imgURL = imgURL.replace(/^data:image\/[a-z]+;base64,/, "");
                //Send Ajax call
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {
                        imageBase64 : imgURL
                    }, 
                    success: function(data){
	   					$('#result').text('Output: ' + data);
	   				}           
                });                     
            }
</script>

</head>

<body>
    <h1 style="margin-top: 1%; text-align: center;font-size:200%;font-weight: bolder;">Draw Any Digit from 0-9 and the
        Neural Network Will
        (Hopefully) Predict it!</h1>
	<h3 style="margin-top: 1%; text-align: center;color:blue">This App Only Works on Desktop</h3>
    <div style="margin-left: 5%; padding: 2%;align-items:center ;text-align: center;">
        <div style="margin-top:2% ;align-items: center;">
            <h1 style="font-weight:bolder;color: rgb(65, 19, 8);">Draw below↓</h1>
            <canvas id="canvas" width="250" height="250"
                style="border: solid;border-color: brown;cursor: crosshair;"></canvas>
        </div>
        <div style="padding: 3%;">
            <button class="btn btn-success" onclick="handleImage()">Predict!</button>
            <button class="btn btn-danger " id="clearButton">Re-draw</button>
        </div>
        <h1 id="result"></h1>
        <footer><a href="https://github.com/suryachereddy/Tensorflow_MNIST_Web"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" style="height: 7%;"  alt="Github"></a> Check out the GitHub repository.</footer>
    </div>

</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

</html>
